<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Movies</title>
    </head>
    <body>
        <h1>All Movies</h1>
        <br/><br/>
        <ul>
            <% movies.forEach(function(movie) { %>
            <li>
                <span><b>ID : </b><%= movie.id %></span><br />
                <span><b>Name : </b><%= movie.value.name %></span><br />
                <span><b>Year : </b><%= movie.value.year %></span><br />
                <span><b>Rating : </b><%= movie.value.rating %></span><br />
                <span><form action='/movies/delete' method='POST'>
                <span><input type='hidden' name='rev' value='<%= movie.value._rev %>'></span>
                <span><input type='hidden' name='id' value='<%= movie.id %>'></span>
                <span><button  type='submit'>Delete</button></span>
                </form></span>
                <span><form action='/movies/edit' method='GET'>
                    <span><input type='hidden' name='rev' value='<%= movie.value._rev %>'></span>
                    <span><input type='hidden' name='id' value='<%= movie.id %>'></span>
                    <span><button  type='submit'>Edit</button></span>
                    </form></span>
                <br />
            </li>
        <% }) %>
        </ul>
    <br/>

    <a href='/movies/add'>Add movie</a>&nbsp;&nbsp;<a href='/movies/search'>Search movie</a>

    </body>
</html>